Hi,

Its an event invitation , Events details are below


<%=@messg%>


To accept
<%#=SERVER_URL+event_invitation_accepted_invitations(@event,@user)%>
<%#= accept_event_invitations_url({:event_id=>@event.id, :user_id=>@user.id}) %>
<%#= @url) %>



To reject
<%#=@url2%>
url2
Thanks
Rizwan
